<div class="fretMarker">{{position.fret}}</div>
<div class="guitarNeck">
	<div ng-repeat="n in [0,1,2,3,4,5,6,7,8,9] track by $index" class="string row">
		<div class="label pull-left {{(position.strings[n].enabled) ? '' : 'disabled'}}"><span>{{position.strings[n].note}}</span></div>
		<div class="left pull-left {{(position.strings[n].enabled) ? '' : 'disabled'}}"></div>
		<div class="mid pull-left {{(position.strings[n].enabled) ? '' : 'disabled'}}"></div>
		<div class="right pull-left {{(position.strings[n].enabled) ? '' : 'disabled'}}"></div>
	</div>
</div>
<div class="guitarBody"></div>
<div class="guitarLevers">
	<div class="lever leftkneeleft {{isPedalActive(position.levers, 'LKL') ? 'active' : ''}}"></div>
	<div class="leverup leftkneeup {{isPedalActive(position.levers, 'LKV') ? 'active' : ''}}"></div>
	<div class="lever leftkneeright {{isPedalActive(position.levers, 'LKR') ? 'active' : ''}}"></div>
	<div class="lever spacer"></div>
	<div class="lever rightkneeleft {{isPedalActive(position.levers, 'RKL') ? 'active' : ''}}"></div>
	<div class="leverup notinstalled"></div>
	<div class="lever rightkneeright {{isPedalActive(position.levers, 'RKR') ? 'active' : ''}}"></div>
</div>
<div class="guitarPedals clearfix">
	<div class="text-center {{isPedalActive(position.pedals, 'A') ? 'active' : ''}}">A</div>
	<div class="text-center {{isPedalActive(position.pedals, 'B') ? 'active' : ''}}">B</div>
	<div class="text-center {{isPedalActive(position.pedals, 'C') ? 'active' : ''}}">C</div>
</div>
