@import "chords/index.css";

/* help and about */

.about,
.help {
  padding: 8px;
  max-width: 616px;
  color: var(--text-color-alt);
}

.about-logo {
  padding: 8px;
}

.about-content {
  padding: 16px;
}

.help-hero {
  display: flex;
  align-items: top;
  gap: 15px;
}

/* modal overlay */

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  padding: 16px;
  background-image: var(--main-bg);
  border-radius: 8px;
  min-width: 400px;
}

.modalHeader {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: space-between;
}

/* button selector */

.button-selector {
  display: flex;
  flex-direction: row;
}

.button-selector.vertical {
  flex-direction: column;
}

.button-selector.vertical.twoby {
  flex-direction: row;
  flex-wrap: wrap;
}

.button-selector button {
  cursor: pointer;
  border: 1px solid var(--border-color);
  color: var(--text-color-alt2);
  padding: 8px 12px;
  background-color: var(--section-bg);
}

.button-selector button.selected {
  color: var(--section-bg);
  font-weight: bold;
  border-color: var(--button-border-color);
  background-image: var(--button-bg);
}

.button-selector.horizontal button + button {
  border-left: 0px;
}

.button-selector.vertical button + button {
  border-top: 0px;
}

.button-selector.horizontal button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-selector.vertical button:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button-selector.horizontal button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-selector.vertical button:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-selector.vertical.twoby button {
  width: 90px;
}

.button-selector.vertical.twoby button:first-child {
  border-top-right-radius: 0;
}

.button-selector.vertical.twoby button:last-child {
  border-bottom-left-radius: 0;
}

.button-selector.vertical.twoby button:nth-child(even) {
  border-left: 0px;
}

.button-selector.vertical.twoby button:nth-last-child(2) {
  border-bottom-left-radius: 4px;
}

.button-selector.vertical.twoby button:nth-child(2) {
  border-top: 1px solid var(--border-color);
  border-top-right-radius: 4px;
}
