/* containers and backgrounds */

.faceplate {
  background-image: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.faceplate-head {
  font-size: 1.1em;
  padding:8px 2px;
  display: flex;
  flex-direction: row;
}

.main-panel {
  background-image: var(--panel-bg);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.sub-panel {
  background-image: var(--main-bg);
  padding: 16px;
  border-radius: 8px;
}

/* help and about components */

.about, .help {
  padding: 8px;
  max-width: 616px;
  color: var(--text-color-alt);
}

.about-logo {
  padding: 8px;
}

.about-content {
  padding: 16px;
}

.help-hero {
  display: flex;
  align-items: top;
  gap: 15px;
}

/* chord positions and chart styles */

.chord-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chord-panel-controls {
  display: flex;
  flex-direction: row;
  gap: 32px;
}